.container {
    display: flex;
    flex-wrap: wrap;
    background-color: #3a3a3a;
  }
  
  .container h3 {
    color: #ffff;
    background-color: inherit;
    margin-top: 5rem;
    font-size: 45px;
    width: 100%;
    text-align: left;
    margin-left: 25rem;
    width: fit-content;
    border-bottom: 5px solid #ec7608;
  }
  
  .container p {
    background-color: inherit;
    font-size: 16px;
    width: 100%;
    text-align: left;
    margin-left: 25rem;
    color: #ec7608;
  }

  .projectTo{
    background-color: inherit;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin-left: 25rem;
    margin-top: 2rem;
  }

.containerProject{
    background-color: inherit;
    margin-bottom: 3rem;
    position: relative;
    
}

.containerProject span {
    background-color: inherit;
    color: #ecad0d; 
}
  

.containerProject h2 {
    background-color: inherit;
    color: #ffff;
}

.containerProject ul, li {
    background-color: inherit;
    color: #ffff;
    list-style-type: none;
}

.containerProject p {
    margin: 2rem 0;
    padding: 10px 15px;
    font-size: 16px;
    width: 500px;
    text-align: left;
    margin-left: 0rem;
    color: #ffff;
    box-shadow: 0 4px 8px rgba(248, 196, 136, 0.8);
    float: left;

}

.containerProject ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .containerProject li {
    display: inline-block;
    color: #e1f012;
    margin-right: 15px; 
    margin-top: .5rem;
  }

  .containerProject a {
    background-color: inherit;
  }
  
  

.imageProyect {
    max-width: 500px;
    height: auto; 
    border-radius: 10px;
    float: right;
    opacity: .5;
    transition: .3s;
}
.imageProyect:hover {
    cursor: pointer;
    opacity: 1;
}



.githubIcon,
.linkIcon {
  font-size: 25px;
  color: #ffff;
  margin: 7px 7px;
  box-shadow: 0 2px 4px rgba(248, 196, 136, 0.8);
  transition: .3s;
}
.githubIcon:hover,
.linkIcon:hover {
transform: scale(1.06);
  cursor: pointer;
  color: #e8a20b;
}



@media screen and ( max-width: 1600px){
  .container h3 {
    margin-left: 7rem;
    font-size: 40px;
  }
  .container p { 
    margin-left: 7rem;
  }
  .projectTo{
    background-color: inherit;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin-left: 7rem;
    margin-top: 2rem;
  }


  .containerProject p {
    padding: 10px 15px;
    font-size: 16px;
    width: 500px;
    text-align: left;
    margin-left: 0rem;
    color: #ffff;
    box-shadow: 0 4px 8px rgba(248, 196, 136, 0.8);
    float: left;

}
}


@media screen and ( max-width: 580px){
  .containerProject {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .container h3 {
    margin-left: 2rem;
    font-size: 30px;
  }

  .container p { 
    margin-left: 1rem;
  }


  .projectTo{
    /* max-width: 600px; */
    display: flex;
    flex-direction: column;
    margin-left: 0;
    
  }


  .containerProject p {
    /* margin: 2rem 0; */
    font-size: 13px;
    width: 300px;
    margin-left: 2rem;

}


.imageProyect {
  max-width: 300px;
  height: auto; 
  margin-left: 2rem;
  border-radius: 10px;
}

.containerProject ul {
  width: 350px;
  padding: 0 3px 0 3px !important;
  /* margin-right: 14rem !important; */
  padding: 0;
  margin: 0;
}

.containerProject li {
  font-size: 13px;
  display: inline-block;
  color: #e1f012;
  margin-right: 20px; 
  margin-top: .5rem;
}

.containerProject span,
.containerProject h2 {
  width: 300px;
  /* margin-right: 20rem; */
  
}

.containerProject .linkIcon {
  display: none
}

.containerProject .githubIcon {
  margin-right: 15rem;
}



}
 
