.container {
    width: 100%;
    display: flex; 
    margin-top: 15rem;
    background-color: #3a3a3a;
  }
  .textContainer {
    padding: 5rem 0 5rem 0;
    background-color: inherit;
    max-width: 800px; 
    text-align: left; 
    margin-left: 25rem;
  }

.container .textContainer h3,
.container .textContainer h2,
.container .textContainer p {
    background-color: inherit;
}
  
 
  .container .textContainer h3{
    font-size: 45px; 
    color: #ffffff;
    width: fit-content;
    border-bottom: 5px solid #ec7608;
  }
  
  .container .textContainer h2 {
    font-size: 30px;
    color: #ec7608;
  }
  
  .container .textContainer p {
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 2rem;
  }
  

  @media screen and ( max-width: 1600px){


    .textContainer {
      padding: 5rem 0 5rem 0;
      background-color: inherit;
     width: 100%;
      text-align: left; 
      margin-left: 7rem;
    }


    .container .textContainer h3{
      font-size: 40px;
      
    }

    .container .textContainer h2 {
      font-size: 25px;
    }

    .container .textContainer p {
      font-size: 15px;
      line-height: 1.5;
      color: #ffffff;
      margin-bottom: 2rem;
    }

  }


  @media screen and ( max-width: 580px){
    .textContainer {
      padding: 5rem 3rem 5rem 0;
      background-color: inherit;
      width: 100%;
      text-align: left; 
      margin-left: 1rem;
    }


    .container .textContainer h3{
      font-size: 30px; 
      
    }

    .container .textContainer h2 {
      font-size: 15px;
    }


    .container .textContainer p {
      padding: 0 20px 0 5px;
      font-size: 13px;
      line-height: 1.5;
      color: #ffffff;
      margin-bottom: 2rem;
    }
  }