.container {
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color:#333333;
  width: 60vw;
  height: 600px;
  margin-left: 25rem;
}

.tex1{
  width: 300px;
  margin-right: 26rem;
  font-size: 35px;
  color: #ffffff;
  text-align: left;
}

.title{
  width: 350px;
  margin-right: 23rem;
  font-size: 60px;
  color: #ec7608;
  text-align: left;
}

.Stack{
  font-size: 35px;
  color: #ffffff;
  text-align: left;
}


.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  margin-top: 5rem;
  text-align: left;
}
.textContainer a {
  text-decoration: none;
}

.boxTex2{
  
  margin-right: 23rem;
  margin-top: 4rem;
  font-size: 40px;
  color: #ec7608;
}

.image {
  border-radius: 50%;
  margin-top: 8rem;
}

h1,
h2 {
  color: #ffffff;
  margin: 10px 0;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-left:8rem;
  padding-right: 4rem;
}

.iconContainer {
  margin-top: 10px; 
}

.githubIcon,
.linkedinIcon {
  font-size: 30px;
  color: #ffffff;
  margin: 7px 18px;
  box-shadow: 0 4px 8px rgba(248, 196, 136, 0.8);
  transition: .3s;
}

.githubIcon:hover,
.linkedinIcon:hover {
  cursor: pointer;
  color: #ec7608;
}


.btnContact{
  border: 1px solid #ec7608;
  color: #ffffff;
  margin-top: 2.5rem;
  padding: 10px 25px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(248, 196, 136, 0.8);
  transition: .3s;
}

.btnContact:hover{
  cursor: pointer;
  transform: scale(1.06);
  background-color: #ec7608;
  
}

@media screen and ( max-width: 1600px){
  .image {
    width: 300px;
    margin-top: 8rem;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#333333;
    width: 40vw;
    height: 400px;
     
  }


  .tex1{
    padding-left: 2rem;
    width: 300px;
    margin-right: 26rem;
    font-size: 20px;
    color: #ffffff;
    text-align: left;
  }

  .Stack{
    padding-left: 2rem;
    margin-right: 07rem;
    width:600px;
    font-size: 25px;
    color: #ffffff;
    text-align: left;
  }
  


  .title{
    padding-left: 2rem;
    width: 350px;
    margin-right: 23rem;
    font-size: 40px;
    color: #ec7608;
    text-align: left;
  }

  .boxTex2{
    padding-left: 2rem;
    margin-right: 23rem;
    margin-top: 4rem;
    font-size: 25px;
    color: #ec7608;
  }
  
}


@media screen and ( max-width: 580px){

  .container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color:#333333;
    width:300px;
    height: 300px;
    margin-left: 8rem;
  }

  .textContainer {
    display: flex;
    /* flex-direction: column; */
    align-items:flex-start; 
    /* text-align: start; */
    margin-top: 5rem;
    /* text-align: left; */
  }

  .tex1{
    margin-left: 2rem;
    padding-left: 0;
    width: 300px;
    font-size: 20px;
    margin-right: 0;
    
  }

  .title{
    width: 300px;
    margin-left: 0rem;
    margin-right: 0;
  }

  .boxTex2{
    width: 350px;
    /* padding-left: 9rem; */
    margin-right: 0rem;
    
  }
  

  .Stack{
    margin-right: 0;
    margin-left: 0rem;
    width: 350px;
    font-size: 17px;
    /* padding-left: 8rem; */
    
  }
  .iconContainer {
    display: none;
  }

  .image {
    display: none;
  }

  .btnContact{
    margin-top: 9rem;
    margin-left: 7rem;
    margin-right: 0;
  }

}