.container{
    width: 100%;
    max-width: 800px;
}
.container h3 {
    color: #ffff;
    /* background-color: inherit; */
    margin-top: 3rem;
    font-size: 45px;
    width: 100%;
    text-align: left;
    margin-left: 25rem;
    width: fit-content;
    border-bottom: 5px solid #ec7608;
  }
  

.container p {
    /* background-color: inherit; */
    font-size: 16px;
    width: 100%;
    text-align: left;
    margin-left: 25rem;
    color: #ec7608;
    margin-bottom: 4rem;
}


.container form input,
.container form textarea {
    margin-left: 42rem;
    display: block;
    margin-bottom: 1rem;
    color: #ffff;
    font-size: 16px;
    outline: none;
    padding-left: 10px;
}

.container form input{
    font-family: inherit;
    margin-bottom: 2rem;
    width: 500px;
    height: 40px;
    border: 1px solid #f7f4f4;;
    border-radius: 5px;
}
.container form textarea{
    border-radius: 5px;
    border: 1px solid #f7f4f4;;
    padding-top: 10px;
    font-family: inherit;
    resize: none;
    margin-bottom: 2rem;
    width: 500px;
    height: 150px;
}

.container form button{
    margin-bottom:6rem;
    margin-left: 56rem;
    padding: 8px 25px;
    font-size: 17px;
    color: #ffff;
    border: 1.5px solid #f7f4f4;
    box-shadow: 0 4px 8px rgba(248, 196, 136, 0.8);
    border-radius: 10px;
    transition: 0.3s;
}

.container form button:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: #ec7608;
}


.container form input:hover,
.container form textarea:hover {
   cursor: pointer;
   box-shadow: 0 4px 8px rgba(248, 196, 136, 0.8);
}

.msjP {
    text-align: center; 
    display: inline-block;
    margin-left:  50rem !important;
    margin-bottom: 2rem  !important;
    margin-top: 0 !important;
    height: .5rem;
    color: rgb(24, 24, 23);
    opacity: .9;
}


@media screen and ( max-width: 1600px){
    .container h3 {
        font-size: 40px;
        margin-left: 7rem;
      }

      .container p {
        margin-left: 7rem;
    }


    .container form input,
    .container form textarea {
    margin-left: 31rem;
    }
    .container form button{
        margin-left: 43rem;
    }

    .msjP {
        text-align: center; 
        width: 80%; 
        margin-left: 32rem !important;
        margin-bottom: 1rem  !important;
        font-size: 13px;
        display: inline-block;
        
    }
    
}


@media screen and ( max-width: 580px){
    .container h3 {
        margin-left: 2rem;
        font-size: 30px;
      }
      .container p { 
        margin-left: 1rem;
      }


      .container form input,
    .container form textarea {
    margin-left: 2rem;
    }


    .container form input{
        width: 300px;
        height: 40px;
    }

    .container form textarea{
        width: 300px;
        height: 150px;
    }
    .msjP {
        width: 300px !important;
        text-align: left;
        display: inline-block;
        margin-left: 2rem !important;
        margin-bottom: 1rem  !important;
    }

    .container form button{
        font-size: 15PX;
        margin-left: 9rem;
        margin-top: 1rem;
    }

}