.FooterContainer {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    text-align: center; 
  }


  .FooterContainer p{
    font-size: 18px;
    color: #e8a20b;
    margin-bottom: 1rem;
  }
  
  .iconsContainer {
    display: flex; 
    justify-content: center;
  }
  
  .githubIcon,
  .linkIcon {
    margin-top: 5rem;
    font-size: 25px;
    color: #ffff;
    margin: 7px 7px;
    box-shadow: 0 2px 4px rgba(248, 196, 136, 0.8);
    transition: .3s;
  }
  
  /* Efecto de hover */
  .githubIcon:hover,
  .linkIcon:hover {
    transform: scale(1.06);
    cursor: pointer;
    color: #e8a20b;
  }


  @media screen and ( max-width: 580px){
    .FooterContainer p{
      margin-right: 4rem;
      font-size: 15px;
      color: #e8a20b;
      margin-bottom: 1rem;
      width: 300px;
    }

    .githubIcon,
  .linkIcon {
    margin-right: 4rem;
  }

  }
  