* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  background-color:#333333;
}



.nav {
  display: flex;
  justify-content: flex-end; /* Alinea los elementos al final del contenedor */
  margin-right: 15rem;
  margin-bottom: 2rem;
}


.btn-about,
.btn-project,
.btn-skills,
.btn-contact {
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-right: 4rem;
  padding: 8px 25px;
  background-color: transparent;
  transition: .3s;
  font-weight: 900;
  font-size: 13px;
  text-transform: uppercase;
  color: #FFFF;
  border-bottom: 1px solid #f6a04a;;
  border-radius: 10px;
 }


 .btn-about:hover,
 .btn-project:hover,
 .btn-skills:hover,
 .btn-contact:hover {
  cursor: pointer;
  transform: scale(1.01);
  border-bottom: 1px solid #ec7608;
  box-shadow: 0 4px 8px rgba(248, 196, 136, 0.8);
 }
 


 @media screen and ( max-width: 1600px){
  .nav {
    display: flex;
    justify-content: center; /* Alinea los elementos al final del contenedor */
    margin-right: 1rem;
    margin-bottom: 2rem;
    
  }

  .btn-about,
  .btn-project,
  .btn-skills,
  .btn-contact {
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-right: 4rem;
    padding: 8px 15px;
    background-color: transparent;
    transition: .3s;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    
   }

 }

 @media screen and ( max-width: 580px){

  .container-all {
    max-width: 100%;
  }
  
  .btn-about,
  .btn-project {
    display: none;
   }

   .nav {
    display: flex;
    justify-content: center; /* Alinea los elementos al final del contenedor */
    margin-left: 3rem;
    width: 300px;
    margin-right: 0;
    margin-bottom: 6rem;
  }
  
  .btn-contact {
    margin-top: 2rem;
    margin-bottom: 1rem;   
    margin-right: 0;
   }

   .btn-skills{
    margin-right: 2rem;
   }
 }
